<nav class="navbar navbar-light background-color: #e3f2fd;" >
    <a class="navbar-brand position-relative  " href="#">
        <img src="../assets/NEVER_FORGET.png" width="200" height="200" alt="">
    </a>
</nav>
<div class="row">
    <div class="col-1"></div>
    <div class="col-7"><table class="table table-hover table-bordered">
        <tr>
            <th>Date</th>
            <th>Event Name</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table></div>
    <div class="col-4"></div>
</div>
