html,body{
    background-image: url(./assets/remainder.jpg), linear-gradient(rgba(224, 217, 217, 0.5),rgba(224, 208, 208, 0.5));
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    height: 100%;
    font-family: 'Numans', sans-serif;
    }